:root {
  --clr-primary-1: hsl(0, 0%, 98%);
  --clr-primary-2: hsl(0, 0%, 41%);
  --clr-primary-3: hsl(0, 0%, 8%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--clr-primary-1);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing); */
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  color: var(--clr-primary-3);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-primary-2);
}
/* section */
.section {
  padding: 5rem 0;
}
/* 
End of global styles
*/
/* 
============
header
=============
*/
nav {
  padding: 0 1.5rem;
  display: grid;
  align-items: center;
  height: 4rem;
  background-color: var(--clr-primary-1);
}
.nav-center {
  display: flex;
  justify-content: space-between;
}
.header-one {
  display: flex;
  align-items: center;
}
.links-header {
  display: none;
}
.logo {
  height: 1.5rem;
  margin-right: 4rem;
}
.header-two {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
}
.links-container {
  display: flex;
  align-items: center;
}
.links {
  margin-left: 1.5rem;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--clr-primary-2);
}
.link-box {
  left: 5;
}

.nav-container {
  position: relative;
}
.nav-icons {
  background: #fff;
  position: absolute;
  width: 10rem;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: var(--dark-shadow);
  display: grid;
  justify-content: center;
  /* border: 2px solid red; */
  margin-left: -4rem;
}
.nav-icons-two {
  width: 8rem;
  margin-left: 2rem;
}
.btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--clr-primary-2);
  background: var(--clr-primary-1);
  border-radius: 0.75rem;
}
.hamburger {
  height: 1rem;
}
.menu,
.logo-banner {
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
/* 
============
End of Header
=============
*/
/* 
============
Hero Page
=============
*/
.main-page {
  min-height: calc(100vh - 4rem);
  min-width: 95vw;
}
.hero-image {
  background: url("./images/image-hero-mobile.png") center/cover no-repeat;
  min-height: 55vh;
  margin-bottom: 3rem;
}
.info {
  max-width: 23rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.one {
  background: var(--clr-primary-3);
  border-color: transparent;
  color: #fff;
  transition: var(--transition);
  margin-bottom: 2rem;
}
.one:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-3);
  border-color: var(--clr-primary-2);
}
.brands-image {
  height: 1rem;
  display: flex;
  justify-content: space-around;
}
.brand {
  height: 100%;
}
.image-container {
  display: none;
}

.attribution {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* 
============
End of Hero Page
=============
*/
/* 
===============
Desktop View
==============
*/
@media screen and (min-width: 778px) {
  .nav {
    height: 7rem;
  }
  .hamburger {
    display: none;
  }
  .links-header {
    display: block;
  }
  .hero-image {
    display: none;
  }
  .image-container {
    display: block;
    min-width: 50vw;
    background: url("./images/image-hero-desktop.png") center/contain no-repeat;
    height: calc(100vh - 7rem);

    margin-bottom: 3rem;
  }
  .small-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .info,
  .image-container {
    flex: 0 0 calc(50% - 3rem);
  }
  .info {
    max-width: 30rem;
    text-align: left;
  }
  .info h1 {
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .info p {
    margin-bottom: 2rem;
  }
  .one {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .info p {
    margin-bottom: 4rem;
  }
  .one {
    margin-bottom: 7rem;
  }
}
/* 
===============
End of Desktop View
==============
*/
/* 
===============
modal overlay and menu
==============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  transition: var(--transition);
  z-index: 100;
}
.close-modal {
  visibility: hidden;
  opacity: 0;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background: var(--clr-primary-1);
  transition: all 0.3s ease-in-out;
  transform: translate(0);
  padding-top: 2rem;
}
.sidebar-close {
  transform: translate(100%);
}

.cancel {
  position: relative;
  margin-bottom: 2rem;
}
.close {
  position: absolute;
  right: 0;
  padding-right: 1rem;
  display: block;
  transition: var(--transition);
  cursor: pointer;
}
.side {
  margin-bottom: 1.15rem;
}
.side-icons {
  margin-top: 1.15rem;
  padding-left: 1.25rem;
}
.icon {
  display: block;
  margin-right: 1rem;
}
.icon-svg {
  display: block;
}
.small-links {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
}
.small-links:nth-child(1) {
  margin-top: 1.25rem;
}
.log {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.small {
  margin-top: 1rem;
}
/* 
===============
End of modal overlay and menu
==============
*/

/* 
========================
toggle button
=========================
*/

.toggle-button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.toggle {
  display: inline-block;
}

.side-icons {
  display: none;
}
.show-toggle {
  display: block;
}
